In [58]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn import datasets, linear_model

In [59]:
homeplan_data = pd.read_csv('C:/Users/POP RAYANEH/Desktop/MU/HP.csv')
homeplan_data.head(3)

   Skylight    SQM  Sitting  Kitchen  Balcony  Rooms  Services
0      6.10  70.76     28.4      6.0      1.9   11.2       5.6
1      7.38  70.78     19.6      6.0      2.1   12.2       5.6
2      7.59  74.91     24.3      6.5      2.3   13.6       5.7

In [60]:
x = homeplan_data.iloc[:,0:2]
y = homeplan_data.iloc[:,2:]

In [61]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3)

In [62]:
SLr = LinearRegression()
SLr.fit(x_train,y_train)
SLr.intercept_

array([-16.32228906,  -2.22086894,  -2.00032538, -11.46616043,
         7.8673793 ])

In [63]:
SLr.coef_

array([[ 2.83855581,  0.30924588],
       [ 0.16142088,  0.08746961],
       [-0.32285094,  0.07673791],
       [-1.05043566,  0.3861996 ],
       [-0.47005347,  0.0284849 ]])

In [64]:
from sklearn import metrics
y_pred = SLr.predict(x_test)

In [65]:
print('R2:',metrics.r2_score(y_test,y_pred))
print('MAE:',metrics.mean_absolute_error(y_test,y_pred))
print('MSE:',metrics.mean_squared_error(y_test,y_pred))
print('RMSE:',np.sqrt(metrics.mean_squared_error(y_test,y_pred)))

R2: 0.934190902585871
MAE: 4.287359680581623
MSE: 56.269964659347885
RMSE: 7.501330859210777