In [27]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn import datasets, linear_model

In [28]:
homeplan_data = pd.read_csv('C:/Users/POP RAYANEH/Desktop/MU/HP.csv')
homeplan_data.head(3)

   Skylight    SQM  Sitting  Kitchen  Balcony  Rooms  Services
0      6.10  70.76     28.4      6.0      1.9   11.2       5.6
1      7.38  70.78     19.6      6.0      2.1   12.2       5.6
2      7.59  74.91     24.3      6.5      2.3   13.6       5.7

In [29]:
x = homeplan_data.iloc[:,0:2]
y = homeplan_data.iloc[:,2:]

In [30]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [31]:
SLr = LinearRegression()
SLr.fit(x_train,y_train)
SLr.intercept_

array([-14.97273994,  -2.15706931,  -1.1215244 ,   4.35375205,
         5.29048844])

In [32]:
SLr.coef_

array([[ 2.10340984,  0.34142705],
       [ 0.18033933,  0.0865181 ],
       [-0.43087533,  0.07828945],
       [-3.43703249,  0.43099482],
       [ 0.00682465,  0.01537019]])

In [33]:
from sklearn import metrics
y_pred = SLr.predict(x_test)