In [27]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn import datasets, linear_model

In [28]:
homeplan_data = pd.read_csv('C:/Users/POP RAYANEH/Desktop/MU/HP.csv')
homeplan_data.head(3)

   Skylight    SQM  Sitting  Kitchen  Balcony  Rooms  Services
0      6.10  70.76     28.4      6.0      1.9   11.2       5.6
1      7.38  70.78     19.6      6.0      2.1   12.2       5.6
2      7.59  74.91     24.3      6.5      2.3   13.6       5.7

In [29]:
x = homeplan_data.iloc[:,0:2]
y = homeplan_data.iloc[:,2:]